<!--
 ! index.html
 !
 ! Created by Zander Otavka on 10/2/16.
 !-->

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ride Along</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <% for (let key in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[key] %>" />
    <% } %>

    <%= htmlWebpackPlugin.files.webpackManifest %>

    <% for (let key in htmlWebpackPlugin.files.chunks) { %>
    <script async src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"></script>
    <% } %>
</head>

<body>
    <!--[if lt IE 10]>
        <p class="browsehappy">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a>
            to improve your experience.
        </p>
    <![endif]-->

    <div id="root">
        {{{renderedDom}}}
    </div>
</body>

</html>
